body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.box-1_image {
    aspect-ratio: 1.5 / 2;
    object-fit: cover;
    height: 25em;
    border-radius: 0.5em;
}

h1 {
    color: #5d5dff;
    margin-bottom: 1em;
}

p {
    color: #333;
    font-size: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color: #5d5dff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4c4cff;
}

#error,
#attempts,
#message2 {
    color: #5d5dff;
    font-weight: bold;
    margin-top: 1rem;
}

/* media for mobile */

@media only screen and (min-device-width : 320px) and (max-device-width : 486px) {
    .main-container {
        flex-direction: column;
    }
}

/* media for alien devices and iPhone se | suggested by : https://github.com/jatin0jha */

@media only screen and (min-device-width : 375px) {
    .main-container {
        gap: 1em;
        margin: 4em 0;
        /* margin-bottom: 4em; */
    }

    .box-1 {
        margin-top: 5em;
    }
}

@media only screen and (min-device-width : 634px) {
    .main-container {
        padding: 1em;
    }
}